Flask==0.10.1
Flask-Login==0.2.9
Flask-WTF==0.9.4
Jinja2==2.7.2
MarkupSafe==0.18
SQLAlchemy==0.8.2
WTForms==1.0.5
Werkzeug==0.9.4
amqp==1.4.4
anyjson==0.3.3
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
billiard==3.3.0.16
celery==3.1.9
gunicorn==18.0
hiredis==0.1.2
itsdangerous==0.23
kombu==3.0.13
lxml==3.3.3
pika==0.9.13
psycopg2==2.5.2
pygeoip==0.3.1
python-dateutil==2.2
pytz==2013.9
redis==2.9.1
requests==2.2.1
six==1.5.2
tornado==3.2
wsgiref==0.1.2