<!DOCTYPE html>

{# {% from "flashmessage.html" import flash %} #}

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="description" content="{%- if app_type == 'MediaEnergy' -%}MediaEnergy{%- elif app_type == 'Edvent' -%}Edvent{%- endif  -%}">
    <title>{%- if app_type == 'MediaEnergy' -%}MediaEnergy{%- elif app_type == 'Edvent' -%}Edvent{%- endif  -%} :: {% block sub_title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/jquery-ui/smoothness/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/jquery-ui/smoothness/jquery.ui.theme.css') }}">
    <!-- dataTables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/datatable/TableTools.css') }}">
    <!-- chosen -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/chosen/chosen.css') }}">
    <!-- select2 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/select2/select2.css') }}">
    <!-- dtpicker -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/timepicker/jquery.simple-dtpicker.css') }}">
    <!-- icheck -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/icheck/all.css') }}">
    <!-- Theme CSS -->
    {%- if app_type == 'MediaEnergy' %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style_me.css') }}">
    {%- elif app_type == 'Edvent' %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style_ed.css') }}">
    {% endif -%}
    <!-- Color CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes.css') }}">

    <!-- Open Sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <!-- jQuery -->
    {# <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> #}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Nice Scroll -->
    <script src="{{ url_for('static', filename='js/plugins/nicescroll/jquery.nicescroll.min.js') }}"></script>
    <!-- imagesLoaded -->
    <script src="{{ url_for('static', filename='js/plugins/imagesLoaded/jquery.imagesloaded.min.js') }}"></script>
    <!-- jQuery UI -->
    <script src="{{ url_for('static', filename='js/plugins/jquery-ui/jquery.ui.core.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery-ui/jquery.ui.widget.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery-ui/jquery.ui.mouse.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery-ui/jquery.ui.resizable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery-ui/jquery.ui.sortable.min.js') }}"></script>
    <!-- dtpicker -->
    <script src="{{ url_for('static', filename='js/plugins/timepicker/jquery.simple-dtpicker.js') }}"></script>
    <!-- slimScroll -->
    <script src="{{ url_for('static', filename='js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
    <!-- Bootbox -->
    <script src="{{ url_for('static', filename='js/plugins/bootbox/jquery.bootbox.js') }}"></script>
    <!-- dataTables -->
    <script src="{{ url_for('static', filename='js/plugins/datatable/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatable/TableTools.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatable/ColReorder.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatable/ColVis.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatable/jquery.dataTables.columnFilter.min.js') }}"></script>
    <!-- Chosen -->
    <script src="{{ url_for('static', filename='js/plugins/chosen/chosen.jquery.min.js') }}"></script>
    <!-- select2 -->
    <script src="{{ url_for('static', filename='js/plugins/select2/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/select2/select2_locale_ru.js') }}"></script>
    <!-- maskedinput -->
    <script src="{{ url_for('static', filename='js/plugins/maskedinput/jquery.maskedinput.min.js') }}"></script>
    <!-- Flot -->
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.bar.order.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.pie.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.resize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.stack.js') }}"></script>
    <!-- Form -->
    <script src="{{ url_for('static', filename='js/plugins/form/jquery.form.min.js') }}"></script>
    <!-- Fileupload -->
    <script src="{{ url_for('static', filename='js/plugins/fileupload/bootstrap-fileupload.min.js') }}"></script>
    <!-- Validation -->
    <script src="{{ url_for('static', filename='js/plugins/validation/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/validation/additional-methods.min.js') }}"></script>
    <!-- icheck -->
    <script src="{{ url_for('static', filename='js/plugins/icheck/jquery.icheck.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Theme framework -->
    <script src="{{ url_for('static', filename='js/my_eakroko.js') }}"></script>
    <!-- Theme scripts -->
    <script src="{{ url_for('static', filename='js/application.min.js') }}"></script>
    <!-- application scripts -->
    <script src="{{ url_for('static', filename='js/console.js') }}"></script>


    <!--[if lte IE 9]>
      <script src="{{ url_for('static', filename='js/plugins/placeholder/jquery.placeholder.min.js') }}"></script>
      <script>
              $(document).ready(function() {
                      $('input, textarea').placeholder();
              });
      </script>
    <![endif]-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    {%- if app_type == 'MediaEnergy' %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    {%- endif %}

    <!-- Apple devices Homescreen icon -->
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/apple-touch-icon-precomposed.png') }}" />
  </head>

  <body>
    {%- block body %}
    {%- endblock %}
  </body>

</html>