{% extends 'manager/frame.html' %}

{% from "forms.html" import render_input_tag, field_validation_error, field_label, render_select_tag, render_textarea_tag %}

{% block sub_title %}Кампании{% endblock %}
{% block nav_campaigns %}active{% endblock %}
{% block frame_header %}Кампании{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="span12">
      <div class="box">
        <div class="box-title">
          <h3>
            <i class="icon-user"></i>
            {% if type == 'edit' %}
              Редактировать :: <a href="{{ url_for('manager.campaigns_by_org', org_id=campaign.organization.id) }}">{{ campaign.organization.name|e }}{% if campaign.organization.full_name %} ({{ campaign.organization.full_name|e }}){% endif %}</a> :: {{ campaign.name }}
            {% else %}
              Новая кампания
            {% endif %}
          </h3>
        </div>
        {% if type == 'edit' %}
          <div class="container-fluid span6">
            <div class="row-fluid">
              <div class="alert alert-error">
                <strong>Осторожно!</strong> Все изменения здесь тут же отобразятся в интерфейсе клиента!
              </div>
            </div>
          </div>
        {% endif %}
        <div class="box-content span6">
          <form action="{% if back_url %}?back_url={{ back_url }}{% endif %}" method='post' class='form-validate form-horizontal' id="campaign_form">
            {{ form.hidden_tag() }}

            <div class="control-group">
              {{ field_label(form.name, 'control-label', post_label_text='*') }}
              <div class="controls">
                {{ render_input_tag(form.name, "input-block-level", "name", ext_params="data-rule-required='true' data-rule-minlength='1'") }}
                {{ field_validation_error(form, "name") }}
              </div>
            </div>
            <div class="control-group">
              {{ field_label(form.organization_id, 'control-label', post_label_text='*') }}
              <div class="controls">
                {{ render_input_tag(form.organization_id, "input-block-level", "organization_id", ext_params="data-rule-required='true' data-placeholder=' '") }}
                {{ field_validation_error(form, "organization_id") }}
              </div>
            </div>
            <div class="control-group">
              {{ field_label(form.start_date, 'control-label', post_label_text='*') }}
              <div class="controls">
                {{ render_input_tag(form.start_date, "input-block-level mask-date-ru", "start_date", ext_params="data-rule-required='true'") }}
                <span class="help-block">дата вида '31.12.2012'</span>
                {{ field_validation_error(form, "start_date") }}
              </div>
            </div>
            <div class="control-group">
              {{ field_label(form.due_date, 'control-label', post_label_text='*') }}
              <div class="controls">
                {{ render_input_tag(form.due_date, "input-block-level mask-date-ru", "due_date", ext_params="data-rule-required='true'") }}
                <span class="help-block">дата вида '31.12.2012'</span>
                {{ field_validation_error(form, "due_date") }}
              </div>
            </div>
            <div class="control-group">
              {{ field_label(form.state, 'control-label', post_label_text='*') }}
              <div class="controls">
                {{ render_select_tag(form.state, "input-block-level", "state") }}
              </div>
            </div>
            <div class="control-group">
              {{ field_label(form.target_impressions, 'control-label', post_label_text='*') }}
              <div class="controls">
                {{ render_input_tag(form.target_impressions, "input-block-level", "target_impressions", ext_params="data-rule-required='true' data-rule-number='true'") }}
                <span class="help-block">заданное рекламодателем целевое количество показов в виде '1250000'</span>
                {{ field_validation_error(form, "target_impressions") }}
              </div>
            </div>
            <div class="control-group">
              {{ field_label(form.sites, 'control-label') }}
              <div class="controls">
                {{ render_textarea_tag(form.sites, "input-block-level", "sites", ext_params="rows=10") }}
                {{ field_validation_error(form, "sites") }}
                {% if type == 'edit' %}
                  <div class="box-content nopadding">
                    <table class="table table-hover table-nomargin table-striped">
                      <thead>
                        <tr>
                          <th class="span2">Площадка</th>
                          <th class="span1">Статус клиентского отчета</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for row in campaign.sites %}
                          <tr>
                            <td>{{ row.site }}</td>
                            <td>{% if is_hit %}Видна{% else %}Не видна{% endif %}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}
                <span class="help-block">Площадки, добавляемые в клиентский отчет источников трафика</span>
              </div>
            </div>
          {% if type == 'edit' %}
            <div class="control-group">
              {{ field_label(form.is_archived, 'control-label') }}
              <div class="controls">
                {{ render_input_tag(form.is_archived, "icheck-me", "is_archived", ext_params="data-skin='square' data-color='blue'") }}
                <span class="help-block">Архвировать завершенную кампанию</span>
              </div>
            </div>
          {% endif %}
            <span class="help-block">Поля, помеченные (*), обязательны к заполнению</span>
            <div class="form-actions">
              <input type="submit" class="btn btn-primary" value="{{ {'new': 'Создать', 'edit': 'Изменить'}[type] }}">
              <button type="button" class="btn">Отмена</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>

    $(".mask-date-ru").mask("99.99.9999");
    $("select#state").select2({
      minimumResultsForSearch: -1
    });

    function formatResult(t) {
      return "<p>" + t.name + "</p>";
    }

    $("input#organization_id").select2({
      minimumInputLength: 1,
      multiple: false,
      allowClear: true,
      ajax: {
        url: "{{ url_for('manager.select_organizations_ajax') }}",
        dataType: 'json',
        data: function (term, page) {
          return {
            query: term
          };
        },
        results: function (data, page) {
          return {results: data.organizations};
        }
      },
      initSelection: function(element, callback) {
        var id=$(element).val();
        if (id!=="") {
          $.ajax("{{ url_for('manager.organization_by_id_ajax') }}", {
            data: {
              org_id: id
            },
            dataType: "json"
          }).done(function(data) { callback(data); });
        }
      },
      formatResult: formatResult,
      formatSelection: formatResult,
      escapeMarkup: function (m) { return m; }
    });
  </script>
{% endblock %}