<div class="row-fluid">
  <div class="span12">
    {%- if counter.banner_types and counter.creative.creative_format.are_dimensions_int -%}
      <textarea class="field span10" id="js-banner-text" rows="10">
<script type="text/javascript">
var RndNum4NoCash = Math.round(Math.random() * 1000000000);
document.write(
'<iframe src="' + '{{ ads_base }}/iframe/{{ counter.uniq_id }}.html?' + RndNum4NoCash
+ '" frameborder=0 vspace=0 hspace=0 width={{ counter.creative.creative_format.dimension_x }} height={{ counter.creative.creative_format.dimension_y }} marginwidth=0'
+ ' marginheight=0 scrolling=no></iframe>');
</script>
        {%- if 'gif', 'jpg' in counter.banner_types -%}
<noscript>
<a href="{{ ads_base }}/screen.html?{{ counter.uniq_id }}" target="_blank">
<img src="http://static-cdn.edvent.ru/{{ counter.uniq_id }}.{{ counter.creative_file_extension }}" alt="Edvent" border=0 width={{ counter.creative.creative_format.dimension_x }} height={{ counter.creative.creative_format.dimension_y }}></a>
<img src="{{ ads_base }}/impr/{{ counter.uniq_id }}" border=0></a>
</noscript>
        {%- else -%}
<!--
Альтернативное gif или jpg изображение не загружено
-->
        {%- endif -%}
      </textarea>
      <div class="row-fluid">
        <div class="span2">
          <button class="btn btn-primary" onclick="copyCode('#js-banner-text')">Выделить код</button>
        </div>
      </div>
    {%- else -%}
      Креативы не загружены или выбраны неверные размеры баннера.
    {%- endif -%}
  </div>
</div>
